-r requirements.txt

# Local Testing & AWS Local Simulation
localstack-client==2.11
awscli-local==0.22.2
awscli==1.45.13

# IDE Type Stubs & Autocomplete
boto3-stubs==1.43.13
botocore-stubs==1.42.41
mypy-boto3-s3==1.43.5
mypy-boto3-sqs==1.43.0
types-s3transfer==0.16.0
types-awscrt==0.31.3
annotated-doc==0.0.4
